.DS_Store
__pycache__/
*.py[cod]
*.log
*.spec
!Mix Analyzer.spec

.venv/
venv/
ENV/

build/
dist/
bin/
*.egg-info/

# Data & Audio
history.db
uploads/
static/audio/*
!static/audio/.gitkeep
static/images/*_waveform.png
static/images/*_spectrum.png

.pytest_cache/
.coverage
.idea/
.vscode/
tests/test_files/
